/bin
/html/core
/html/modules/contrib
/html/profiles/contrib
/html/themes/contrib
/html/sites/default/files
/html/libraries
/html/icon
/html/stats
/html/webmail
vendor/
/etc
/cgi-bin
/.well-known
/fcgi-bin
/hold
/icon
/homes
/logs
/Maildir
/not_public_html
/tmp
.idea
/awstats
ssl*